{% extends 'base.html' %}

{% block title %}Delete Book{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block body %}
<div class="container">
    <h4 class="pt-4 text-center">DELETE EXISTING BOOK RECORD</h4>
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 pt-4 col-xl-6">
            <div class="card rounded-3">
            <div class="card-body p-4 p-md-5">
    
                <form class="px-md-2" method="POST" action="{% url 'adminapp:deletebook' %}" >
    
                {% csrf_token %}
    
                <div class="form-outline mb-4">
                    <label class="form-label" for="id">Book ID</label>
                    <input type="number" name="id" id="id" min="1" class="form-control" required />
                </div>
    
                <button type="submit" class="btn btn-success btn-lg mb-1">Delete Record</button>
    
                </form>
    
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}